* {
	box-sizing: border-box;
	/*Remelio plotis bus iskaiciuotas i remeliu ploti
	  remelis bus iskaiciuotas i elemento ploti*/
}
p {
	padding: 0px;
	margin: 0px;
}
h1 {
	text-align: center;
}
body {
	margin: 0px;
}

.menu_box {
	height: auto;
	width: 30%;
	background-color: #878787;
	border: 3px solid;
	float: left;
	margin-left:2.5%;
	position: relative;
}
.menu_box p {
	padding: 12px 25px 12px 25px;
}
.menu_top {
	height: 25px;
	width: 100%;
}
.menu_chicken {
	height: auto;
	background-color: #E89B9C;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	padding: 2px 40px 2px 40px;
	font-size: 18px;
	display: block;
	float: right;
}
.menu_beef {
	height: auto;
	background-color: #C02E30;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	padding: 2px 40px 2px 40px;
	font-size: 18px;
	display: block;
	float: right;
}
.white_txt {
	color: white;
}

	/* 1) top, right, left veikia tik su position
	   2) paskutinis boxas padarytas su position: absolute
	   	  del to aukstis skiriasi*/
.paskutinis h2 {
	margin: 0px;
	background-color: orange;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	padding: 2px 40px 2px 40px;
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 0px;
}
.paskutinis p {
	margin-top: 10%;
}
.clear_float {
	clear: both;
}
.paskutinis {
	margin-right: 2.5%;
}