

.aukstis-100 {
  height: 100px;
}
.aukstis-200 {
  height: 200px;
}
.aukstis-300 {
  height: 300px;
}
.aukstis-400 {
  height: 400px;
}
.aukstis-500 {
  height: 500px;
}

main {
  padding: 0;
  margin: 0;
}

navbuttons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

navbuttons ul li {
  text-align: center;
  line-height: 40px;
  width: 200px;
  height: 40px;
  background-color: #000000;
  opacity: .7;
  font-size: 16px;
}
navbuttons ul li a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
}

navbuttons ul li a:hover {
  background-color: #404040;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
}

.buttonhiden {
  display: none;
}

ul li:hover ul li {
  display: block;
}

.social-icons a{
    font-size: 19px;
    margin: 0 4px;
  }

.social-icons {
  text-align: center;
  margin: 15px 0 15px 0;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.logoh {
  width: 225px;
  padding: 10px;
}

/* display: inline-block; */

nav, aside, .btn {
 background-color: #000000;
 background: rgba(0,0,0,0.4);
}

.navcontainer {
  width: 225px;
  margin: 30px;
}

.copyright {
  text-align: center;
  font-size: 14px;
}

@media query {

}
