.h1-main{
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 164px;
    font-family: 'Abril Fatface';
}
.h2-main{
  color: black;
  font-family: 'Abril Fatface';
  text-align: center;
  border-bottom: solid 2px #000;
}
.main1{
  background-color: rgb(211, 211, 211);
}
.row1{
  border-bottom: solid 4px #000;
}
.reklama001{
  background-image: url(http://cars--reviews.com/images/audi-ad/audi-ad-37.jpg);
  height: 40vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-image: no-repeat;
  background-position: center;
}
.reklama01{
  height: 100%;
}
.index-header{
  position: relative;
  height: 15vh;
  background-color: rgb(13, 13, 13);
  border-top: solid 2px white;
}
.index-nav{
  margin-top: 1.5vh;
  margin-left: 1vh;
}
.logo1{
  height: 50px;
  width: 125px;
}
.logo2{
  height: 14vh;
  width: 28vh;
  position: absolute;
  top:0;
  right:0;
}
.but1, .but2{
  color: white;
  background-color: black;
  border: solid 2px white;
  margin-left:0.5vh;
  margin-top: 4vh;
  text-decoration: none;
}
.but3{
  color: white;
  height: 40px;
  width: 100px;
  background-color: black;
  border: solid 2px white;
  position: absolute;
  top:50%;
  right: 50%;
  transform: translate(50%,-50%);
  text-decoration: none;
}
.article1{
  justify-content: space-between;
  margin-top: 1vh;
  align-items: center;
  height: inherit;
}
.article2{
  justify-content: center;
}
.article3{
  justify-content: flex-end;
}
.index-nav button a{
  text-decoration: none;
  color: white;
}
/* h2{
    color: rgb(38, 203, 151);
    text-align: center;
} */
/* ---------------------------------------------------- */
nav {
  background-color: black;
  height: 40vh;
}

.imggal {
  border-radius: 50%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gal02 {
  display: flex;
  justify-content: space-between;
}

.galcol01, .galcol02, .galcol03, .galcol04 {
  margin: 0 0 15px 0;
}


.reklama1 {
  background-image: url("../pics/audi-reklama.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 40vh; */
}

aside, gallery {
background-color: rgb(211, 211, 211);
}

footer{
  background-color: black;
  height: 15vh;
}

ul {
  margin: 0;
}

a, .audi {
  color: white;
}

.buttonrek {
  color: White;
  background-color:  black;
  border: solid 2px white;
  height: 40px;
  width: 100px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.rek1 {
  position: relative;
}

.footnav {
  align-self: center;
}

.audi {
  margin: 0;
}

.imgnav {
  height: 20px;
}

.galanth1, .galanth2 {
  text-align: center;
  font-family: "Abril Fatface";
  color: black;
}

.galcol01 {
  border-bottom: solid 4px #000;
}

.galanth2 {
  border-bottom: solid 2px #000;
}
.galanth1h2{
  color: black;
  font-family: 'Abril Fatface';
  text-align: center;
  border-bottom: solid 2px #000;

}
