@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

*{
  box-sizing: border-box;
}

body {
  margin:0;
  font-family:'Raleway',sans-serif;
  text-align: center;
}

/* header */

header {
  position: absolute;
  margin-top: 1em;
  left: 0;
  right: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin:1em;
}

nav a {
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .5em;
}

/* main body */

.home-nojauslaivas {
padding: 10em 0;
}

#myVideo {
  height: 100%;
  width: 100%;
  object-fit : cover;
}

.video-container {
  overflow: hidden;
  background: #000;
  display: block !important;
  position: relative;
  z-index: -1;
  opacity: 20;
 /*to edit the opacity effect change the percentage below */
 filter:opacity(60%);
 transform: translateX(10%) translateY(40%);
}
