* {
  box-sizing: border-box;
}

.fix-float {
  clear: both;
}

.mano-float: {
  float: left;
}

/* --------------- */
html {
  background-color: #c9c9c9;
}

body {
  /* automatinis centravimas horizontliai */
  /*
    Reikia "widht"
    viekia tik i kaire/desine
  */
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

h1 {
  color: red;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
}

.menu-juosta {
  background-color: #FF80FF;
  height: 50px;
}

/* -----menu------ */
nav {
  width: 60%;
}

ul {
  /* background-color: orange; */
  float: left;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

li {
  float: left;
  width: 25%;
  list-style: none;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

.paieska {
  /* background-color: red; */
  float: left;
  height: 50px;
  width: 40%;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

form {
  float: right;
  width: 75%;
}

.paieskos-laukas {
  padding-left: 20px;
  margin-left: 30px;
}

.mygtukas-go {
  border: none;
  padding: 10px 25px 10px 25px
  /* arba */
  padding: 10px 25px;
  background-color: black;
  color: white;
}

/* ----------tablet-------------- */
/* ---nuo 768 iki begalyb5es */
/* @media (max-width: 768px) {
  .blokas1,
  .blokas2 {
  width: 100%;
  margin-bottom: 2.5%;
} */

/* ---------mobile---------- */
/* @media (max-width: 425px) {
  .blokas2,
  .blokas3 {
    display: none;
  }
  .blokas4,
  .blokas5 {
  width: 100%;
  margin-bottom: 2.5%;
  }
} */
