html{
  background-color: grey;
}
body{
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
h1{
  font-family: 'Montserrat Subrayada', sans-serif;
  color: white;
  text-align: center;
  text-shadow: 4px 4px black;

}
/* ------------------header-------------------------- */
.menu-bar{
  background-color: rgb(204, 39, 143);
  box-sizing: border-box;
  border: solid 1px #000;
  height: 80px;
}
.pop-menu-bar{
  width: 70%;
  float: left;
  margin-top: 15px;
}
.search-bar{
  width: 25%;
  float: left;
  margin-top: 29.5px;
  margin-left: 0.6%;
}
.fix-float{
  clear:both;
}
.menu-bar nav ul li{
  list-style-type: none;
  width: 25%;
  float: left;
  text-transform: uppercase;
  margin: 0;
}
.fix-float{
  clear: both;
}
button{
  margin-left: 10px;
  color: white;
  background-color: black;
  box-sizing: border-box;
  border: solid 2px #000;
  width: 25%;
}
/* ------------------header-------------------------- */
/* ------------------wrapper structure--------------- */
.wrapper{
  box-sizing: border-box;
  margin-top: 1%;
  position: relative;
  height: 420px;
}
main{
  box-sizing: border-box;
  border: solid 1px #000;
  width: 75%;
  background-color: white;
  float: left;
  position: absolute;
  top:0px;
  bottom:0px;
  left: 0px;
}
aside{
  box-sizing: border-box;
  border: solid 1px #000;
  background-color: pink;
  width:24%;
  float: left;
  margin-left: 1%;
  margin-right: 0;
  position: absolute;
  top:0px;
  bottom:0px;
  right:0px;
}
.fix-float{
  clear: both;
}
/* ------------------wrapper----------------------- */
/* ------------------wrapper text------------------ */
h2{
  font-family: 'Montserrat Subrayada', sans-serif;
  text-align: center;
  text-shadow: 2px 2px grey;
}
aside ul{
  padding-left: 14%;
  padding-right: 10%;
}
h3{
  font-family: 'Montserrat Subrayada', sans-serif;
  text-align:left;
  padding-left: 1%;
}
article p{
  padding-left: 1%;
}
/* ------------------wrapper text------------------ */
/* ------------------Footer----------------------- */
.bottom{
  background-color: white;
  box-sizing: border-box;
  border: solid 1px #000;
  text-align: left;
  height: 80px;
  margin-top: 1%;
  padding-top:31.5px;
  padding-left: 1%;
}
/*------------------Footer--------------------------*/
