h1 {
    text-align: center;
    color: #c9c9c9;

}

li {
  float: left;
  margin-left: 20px;
  margin-top: 35px;
  font-size: 22px;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-left: 200px;
  padding: 0;
}

p {
  padding-top: 10px;
  text-align: left;

}

img {
  height: 80px;
}

nav {
  float: left;
}

header {
  background-color: #373737;
}

h3 {
margin-top:
text-decoration-line: underline;
}

a {
  color: white;
}


.aukstis-100 {
    height: 100px;
}
.aukstis-150{
  height: 150px;
}

.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}

.mano-float {
  float: left;
  position: relative;
}

.fix-float{
  clear: both;
}

.vidurinis {
  max-width: 100%;
  height: auto;
}

.audi-logo {
  float: left;
  margin-top: 27px;
  margin-left: 40px;
  height: 45%;
}

.reklama {
  background-image: url(../images/vidurinis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sonas {
  background-color: #373737;
  background-image: url(../images/audia1.png);
  background-repeat: no-repeat;
  background-size: 75%;
}

.quatro1 {
  background-image: url(../images/quatro1.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  transform: scaleX(-1);
}

.audi3 {
  background-image: url(../images/audi3.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  margin-bottom: 40px;
  margin-right: 80px
}

.mygtukas {
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
   		transform: translate(-50%, -50%);
   		left: 50%;
  		top: 50%;
  background-color: black;
  color: #afafaf;
  border: none;

<<<<<<< HEAD
}

/* Jevgenijaus dalis :D */
.gallery_img {
  width: 200px;
  height: 200px;
  margin-left: 80px;
}
.galerry_col {
  margin-top: 25px;
  margin-bottom: 25px;
}
.str {
  text-align: center;
}
.gallery-p {
  text-align: justify;
  margin-top: 20px;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 50px;
}
footer {
  background-color: #373737;
}

=======
>>>>>>> 9dea7569bce8fbd8543727b869b8dec54fae24e3
}
