*{box-sizing: border-box;}

*{
  margin:0px;
}

html{
  width: 100%;
}
body {
  background-color:#D3B5FD;
   filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#D3B5FD, endColorstr=#9387F2);
   background-image:-moz-linear-gradient(left bottom, #D3B5FD 1%, #9387F2 13%,#AD8ECB 27%,#C39CAF 39%,#D3B5FD 50%,#C46F7E 63%,#AF6586 78%,#D3B5FD 93%);
  background-image:linear-gradient(left bottom, #D3B5FD 1%, #9387F2 13%,#AD8ECB 27%,#C39CAF 39%,#D3B5FD 50%,#C46F7E 63%,#AF6586 78%,#D3B5FD 93%);
  background-image:-webkit-linear-gradient(left bottom, #D3B5FD 1%, #9387F2 13%,#AD8ECB 27%,#C39CAF 39%,#D3B5FD 50%,#C46F7E 63%,#AF6586 78%,#D3B5FD 93%);
  background-image:-o-linear-gradient(left bottom, #D3B5FD 1%, #9387F2 13%,#AD8ECB 27%,#C39CAF 39%,#D3B5FD 50%,#C46F7E 63%,#AF6586 78%,#D3B5FD 93%);
  background-image:-ms-linear-gradient(left bottom, #D3B5FD 1%, #9387F2 13%,#AD8ECB 27%,#C39CAF 39%,#D3B5FD 50%,#C46F7E 63%,#AF6586 78%,#D3B5FD 93%);
   );

  margin:0;
  padding:0;
  width: 100%;
  height: 100%;

}




/*1.=============header========================*/
#nav {
  height: 70px;
  background: black;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: all ease .5s;
}

#logo {
  color: #fff;
  padding: 20px;
  font-size: 20px;
  transition: all ease .5s;

}

#hero {
  height:666px;
  width: 100%;
  background-image: url('../foto/pexels-photo-547115.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;

  display: table;
  background-attachment: fixed;
}




#nav.shrink {
  height: 40px;
  transition: all ease .5s;
}

#nav.shrink #logo {
  padding: 10px;
  transition: all ease .5s;
}

li {
  list-style: none;
  float: right;
  color: #fff;
  padding: 5px;
  font-size: 18px;
  transition: all ease .5s;

}
/*1.=====================HEADER END======================*/




/*2.=======================PRANESIMAS SUKAS===============*/
#main{
    width: 215px;
    height: 50px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    perspective: 800px;
}
#msg{
    font-family: arial black;
    display: inline-block;
    font-size: 30px;
    line-height: 26px;
    text-align: right;
}
#box{
    width: 100px;
    float: right;
    transform-style: preserve-3d;
    -webkit-animation:rotate 10s ease-in-out infinite;
}
#side1{
    position: absolute;
    width: 100px;
    height: 45px;
    color:white;
    font-family: arial;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    transform: translateZ(50px);
    background-color: #9F79C3;

}
#side2{
    position: absolute;
    width: 100px;
    height: 45px;
    color:white;
    font-family: arial;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    transform: rotateY(-90deg) translateX(-50px);
    background-color: #9F79C3;
    transform-origin: left;
}
#side3{
    position: absolute;
    width: 100px;
    height: 45px;
    color:white;
    font-family: arial;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    transform: rotateY(180deg) translateZ(50px);
    background-color: #9F79C3;

}
#side4{
    position: absolute;
    width: 100px;
    height: 45px;
    color:white;
    font-family: arial;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    transform: rotateY(90deg) translateX(50px);
    background-color: #9F79C3;
    transform-origin: right;
}
@-webkit-keyframes rotate{
    0%{transform: rotateY(0);}
     25%{transform: rotateY(90deg);}
    50%{transform: rotateY(180deg);}
    75%{transform: rotateY(270deg);}
    100%{transform: rotateY(360deg);}
}
/*2.==================PRANESIMAS SUKAS END================*/




/*3.================ABOUT=====================*/

.image-aboutus{
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("https://images.pexels.com/photos/791079/winter-sunset-evening-purple-791079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  width: 100%;
  background-size: cover;
  display: table;
  background-attachment: fixed;
  height: 60vh;
  padding-top: 110px;
  padding-bottom:110px;
}

.lg-text {
   font-size:52px;
   font-weight: 600;
   text-transform: none;
   color:pink;
   text-decoration: underline;
   text-shadow:
}
.about{
  color:white;
  font-size: 18px;
}

ul.socTinklai{
  padding: 0;
  text-align: center;
}
.socTinklai li{
  background-color: yellow;
  list-style: none;
  display: inline-block;
  margin: 4px;
  border-radius: 2em;
  overflow: hidden;
}
.socTinklai li a{
  display: block;
  padding: 0.5em;

  white-space: nowrap;
  line-height: 1.5em;
  transition: 0.5s;
  text-decoration: none;
  font-family: arial;
  color: #fff;
}
.socTinklai li i {
  margin-right: 0.3em;
}
.socTinklai li:hover a{
  max-width: 300px;
  padding-right: 3em;
}
.socTinklai .facebook{
  background-color: #3b5998;
  box-shadow: 0 0 16px #3b5998;
}
.socTinklai .twitter{
  background-color: #00aced;
  box-shadow: 0 0 16px #00aced;
}
.socTinklai .instagram{
  background-color: #cd486b;
  box-shadow: 0 0 16px #cd486b;
}

/*3.===================ABOUT END=================*/




/*4.==================OUR PRICES==================*/
.our-prices{
  font-size:44px;
  font-weight: 600;
  text-transform: none;
  color:#FF3600;
  text-decoration: underline;
  text-shadow:
}
.title-arch {
  text-align: center;
  margin: 50px 0;

}
.project {
width: 100%;
height: 100%;
background-image: url(https://static.vecteezy.com/system/resources/previews/000/178/109/non_2x/colorful-bokeh-and-wave-background-design-vector.jpg);
background-size: cover;
background-position: center;
padding: 0;
float:left;
}

.project-2 {
background-image: url(https://thumb1.shutterstock.com/display_pic_with_logo/1432976/564937159/stock-vector-abstract-geometric-background-with-polygons-info-graphics-composition-with-geometric-shapes-retro-564937159.jpg);
}

.project-3 {
background-image: url(https://image.freepik.com/vetores-gratis/fundo-abstrato-com-laranja-ondas_23-2147518008.jpg);
}



.project-hover {
width: 100%;
height: 100%;
color: #fff;
opacity: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
background-color: rgba(186, 232, 2, 0.7);

}

.project-hover hr {
height: 30px;
width: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
background-color: rgba(255, 255, 255, 1);
border: 0;
}

.project-hover a {
color: rgba(255, 255, 255, 1);
padding: 2px 22px;
line-height: 40px;
border: 2px solid rgba(255, 255, 255, 1);
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.project-hover a:hover {
border-color: rgba(51, 51, 51, 1);
color: rgba(51, 51, 51, 1);
background-color: #FFF;
}

.project:hover .project-hover {
opacity: 1;
}

.project:hover .project-hover hr {
width: 100%;
height: 5px;
}
/*4.==================OUR PRICES==================*/



/*5.====================ARTICLE========================*/
.h3txt{
  text-align: center;
  padding:10px;
  margin: 30px;
  font-family: sans-serif;
  font-size: 1.25rem;
  color: grey;

}
h3{
  text-align: center;
  font-family: arial black;
  font-size: 35px;
}
.col-md-12{
  background-color: #fff;

}
.col-md-3{
  background-color: #F0F3FA;
  text-align: center;
  height: 250px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 25px;
}
.review{
  background:    #cd667c;
background:    -webkit-linear-gradient(#cd667c, #daa3ec);
background:    linear-gradient(#cd667c, #daa3ec);
border:        1px solid #444444;
border-radius: 5px;
padding:       8px 22px;
color:         #000000;
display:       inline-block;
font:          italic 700 13px/1 "Droid Serif", serif;
text-align:    center;
text-shadow:   0px 0px #000000;

}
.mb-0{
  color: black;
  font-family:sans-serif;
  font-size: 90%;
}
.blockquote{
  text-align: center;
}
.h3bg{
  background-color: #fff;
}
.horisontal-line{
  width: 100%;
  height: 0px;
  margin-left: 255px;
  border: 2px inset #C172E0;
}
.horisontal-line2{
  width: 100%;
  height: 0px;
  margin-left: 50px;
  border: 1px inset #FA8580;
  position: absolute;
  bottom: 35px;
}
.col-6 offset-3{
  position: relative;
}
.galleryEnd{   /*JEIGU LIEKA MARGIN NENUSPALVINTAS TAI CIA==========*/
  background-color: #E6DBF7;
  margin-bottom: 50px;
}

/*5.=====================ARTICLE END=====================*/




/*6.======================== KARUSELE =====================*/
#demo{
  margin-bottom: 50px;

}
.carousel-inner img {
    width: 100%;
    height: 400px;
    margin:0;
    padding:0;
}

/*6.=====================KARUSELE END=====================*/





/*7.=======================GALLERY===============*/
/*.row{
  margin-top: 30px; /*=====================VISIEMS ROW MARGINUS UZDEJAU======================================
} */
.pink-button{
  background:    #a64d79;
background:    -webkit-linear-gradient(#a64d79, #073763);
background:    linear-gradient(#a64d79, #073763);
border:        2px solid #556699;
border-radius: 1000px;
padding:       8px 20px;
color:         #ffffff;
display:       inline-block;
font:          italic 700 22px/1 "Vollkorn", serif;
text-align:    center;
text-shadow:   1px 1px #000000;
float: right;
margin-bottom: 11px;
}
.img-responsive {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

.img-responsive:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */

}
.glr{
  text-align: center;
}
.glr2{
  font-size: 64px;
}
/*7.=======================GALLERY END===============*/



/*8.================OUR TEAM===============*/
.post{
  width: 100%;
  height: 300px;
  position: relative;
  cursor: pointer;
}
.post:hover .post-s{
  width: 93%;
}
.post img{
  display: block;
  width: 100%;
  height: 100%;
}
.post-s{
  height: 300px;
  width: 0;
  background: rgba(103, 58, 183, 0.71);
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;
}
.post-s h4{
  color:white;
  font-size: 25px;
  border: 3px solid white;

}
h2 {
    color: #4C4C4C;
    word-spacing: 5px;
    font-size: 50px;
    font-weight: 700;
    margin-bottom:30px;
    font-family: 'Raleway', sans-serif;
}

.ion-minus{
    padding:0px 10px;
}

.team{
	background-color:#fff;
	padding:60px 0px;
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
}

.team h4 {
    margin-top: 20px;
    color: #5db4c0;
}



/*8.====================OUR TEAM END===============*/




/*9.===================BLOG BLOG====================*/
.blog{
  margin-left: 38%;
  font-size: 50px;
}
.index-content a:hover{
    color:black;
    text-decoration:none;
}
.index-content{
    margin-bottom:10px;
    padding:5px 0px;
}
.index-content .row{
    margin-top:10px;
}
.index-content a{
    color: black;
}
.index-content .card{
    background-color: #ffffff;
    padding:0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
.index-content .card:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
}
.index-content .card img{
    width:100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.index-content .card h4{
    margin:20px;
}
.index-content .card p{
    margin:20px;
    opacity: 0.65;
}
.index-content .blue-button{
    width: 100px;
    -webkit-transition: background-color 1s , color 1s;
    transition: background-color 1s , color 1s;
    min-height: 20px;
    background-color: pink;
    color: black;
    border-radius: 4px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 20px;
    padding: 5px 0px;
    display: inline-block;
}
.index-content .blue-button:hover{
    background-color: #dadada;
    color: #002E5B;
}
@media (max-width: 768px) {
.index-content .col-lg-4 {
        margin-top: 20px;
    }
}
@media (max-width: 425px) {
.index-content .col-lg-4 {
        margin-top: 20px;
    }
}
.horisontal-line5{

  margin-bottom: 15px;
  width: 100%;
  height: 0px;
  margin-left: 400px;
  border: 2px inset #C172E0;
}
.baton{
  background:    #0b5394;
background:    -webkit-linear-gradient(#0b5394, #0000ff);
background:    linear-gradient(#0b5394, #0000ff);
border:        1px solid #444444;
border-radius: 1000px;
padding:       8px 22px;
color:         #f3f3f3;
display:       inline-block;
font:          italic 700 16px/1 "Open Sans", sans-serif;
text-align:    center;
text-shadow:   0px 0px #000000;

}
/*9.===================BLOG BLOG END====================*/





  /*10===============LEAVE A REPLY================*/
h1 {
    text-align:center;
    font-size: 28px;
    font-family: 'Lobster', cursive;
}

.panel  {
-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.panel-default > .panel-heading {
  color: #000 !important;
  background: #80bfff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #80bfff, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #80bfff, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #80bfff, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #80bfff, #ffffff); /* Standard syntax */
  border-color: #99ccff !important;
  height:70px;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

button[type="reset"]    {
    background-color:red;
    border:1px solid black;
}

.blue   {
    color: #80bfff;
}
.btn{
  background:    #9900ff;
background:    -webkit-linear-gradient(#9900ff, #073763);
background:    linear-gradient(#9900ff, #073763);
border:        3px solid #444444;
border-radius: 1000px;
padding:       8px 22px;
color:         #ffffff;
display:       inline-block;
font:          italic 700 16px/1 "Droid Serif", serif;
text-align:    center;
text-shadow:   0px 0px #000000;
}
.btn2{
  background:    #ff0000;
background:    -webkit-linear-gradient(#ff0000, #073763);
background:    linear-gradient(#ff0000, #073763);
border:        3px solid #444444;
border-radius: 5px;
padding:       8px 22px;
color:         #ffffff;
display:       inline-block;
font:          italic 700 16px/1 "Droid Serif", serif;
text-align:    center;
text-shadow:   0px 0px #000000;
}
/*10.==============LEAVE A REPLY END==============*/





/*11. ===========FOOTER===========*/
.footer{
  margin-top: 30px;
}
.footer1{
 background-color: #fff;
 color: white;

}
.footer1 h2{
	margin: 5px;
	padding: 8px;
	font-size: 25px;
	font-family: "Times New Roman", Times, serif;

}
.footer1 a{
	color: black;
}
.footer1 a:hover{
	color: ;
}

.footer1 p{
	margin: 5px;
	padding-top: 2px;
	padding-left: 10px;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;

}
.footer1 h2{margin: 5px;
	padding: 5px;
	border-bottom: 1px solid black;


}
/*==========================footer2===========================*/
.footer2{

	background-color: black;
	color: #fff;

}
.footer2 p{
	margin: 8px;
	padding: 8px;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;

}
.myframegmap{

    border: 3px solid #f6f5f0;
    border-radius: 8px;
    height: 130px;
    width: 80%;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;

}






/*11.===============FOOTER END===========*/



@media(max-width:768px){
  .h3txt{
    display: none;
  }
}
