/* header manipulation */
body{
  /* background-color: rgb(187, 191, 188); */
  background-image: url(../pics/background-pics/main-bg3.jpg);
  background-size:cover;
  width:100%;
}
.header-main{
  height: 154px;
    width: 100%;
}
.header-row-1{
  height: 46px;
  background-color: rgba(0, 0, 78, 0.4);
}
.header-row-3{
  height: 46px;
  background-color: rgba(0, 0, 78, 0.4);
}
.header-row-2{
  position: relative;
  height: 62px;
  background-color: rgb(100, 100, 200);
  /* background-image: url(../pics/background-pics/main-bg.jpg); */
  border: solid 2px #222;
}

.logo-header{
  height: 148px;
  width: 92px;
  position: absolute;
  overflow: visible;
  top:50%;
  left: -5%;
  transform: translate(44%,-44%);
}
/* header nav bar buttons */
.ul-header-nav-1{
  /* text-align: center; */
  display: inline;
  width: 100%;
  margin-bottom: 0;
}
.ul-header-nav-1 li{
  display: inline;
}
.navbar{
  float: right;
  margin: 0;
  padding: 0;
}
.social-button1{
height: 20px;
width: 20px;
list-style-type: none;
transform: translate(-25%,-9%);
}
.social-button2{
height: 20px;
width: 20px;
list-style-type: none;
transform: translate(-25%,-11%);
}
.button-nav{
  list-style-type: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 15px;
  align-items: flex-end;

}
.button-nav a{
  text-decoration: none;
  color: white;
}
.button-nav a:hover {
  text-decoration: none;
  color: black;
}
.button-social{
  border-radius: 100%;
  width: 20px;
  height: 20px;
}
.button-nav-5{
  margin-left: 40px;
}
.social-button1:hover, .social-button2:hover {
  border-radius: 100%;
  background-color: white;
  border: none;
  margin: 0;
}
/* end of header configuration */
/* begining of main configuration */
main{
  height: 75vh;
}
/* end of main configuration */
/* begining of footer configuration */
.footer-bottom{
  height: auto;
  background-color: rgb(50, 50, 50);
  margin:0;
}
.footer-bottom p{
  margin:0;
  color: white;
}
.footer-main{
  margin:0;
  padding: 0;
}
.prefooter{
  background-color: rgba(0, 0, 78, 0.4);
  height: 10vh;
}
/* end of footer configuration */
