body {
  background-color: #D0D8C1;
}
.container-fluid{

  background-color: #000000;

}

.kontaineris {
  background-color: #83B2D1;
}


.img-responsive {
width: 100%;
height: auto;
margin-left:  -20px;

}


 .relative {
  position:relative;
}

.absolute {
  position:absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
}


h3, p{
font-family: 'Lato', sans-serif;
margin-left: 2%;
margin-right: 2%;
text-align: center;

}
footer p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: white;
  text-align: left;
}
footer {
  background-color: #000000;
  height: 220px;
}
p1 {
  font-size: 15px;
}
  h2 {
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: white;
    {
