#Sausis{color:yellow;}
.zalia{background-color: green;}
article{border: solid 2px #333;}

#Vasaris{color:green;}
.geltona{background-color: yellow;}

#Kovas{color:red;}
.pink{background-color: pink;}

#Balandis{color:blue;}
.grey{background-color: grey;}

#Geguze{color:pink;}
.seagreen{background-color: seagreen;}

#Birzelis{color:black;}
.orange{background-color: orange;}

#Liepa{color:orange;}
.royalblue{background-color: royalblue;}

#Rugpjutis{color:grey;}
.red{background-color: red;}

#Rugsejis{color:indigo;}
.Turquoise{background-color: Turquoise;}

#Spalis{color:SeaGreen;}
.tomato{background-color: tomato;}
