.slider-ctr

  figure.slide
    img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/111167/img5.jpeg", alt="Sky")
    figcaption 
      .title Sky
      .author Aleksandra
  
  figure.slide
    img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/111167/img1.jpeg", alt="River")
    figcaption 
      .title River
      .author Ales Krivec

  figure.slide
    img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/111167/img4.jpeg", alt="Rain")
    figcaption
      .title Rain
      .author Wilson Lau
      
  figure.slide.text-on
    img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/111167/img2.jpeg", alt="Ocean")
    figcaption
      .title Ocean
      .author Rosan Harmens
      
  .slider-control
    .control.prev.disabled
      .icon.ion-chevron-left
    .control.next
      .icon.ion-chevron-right