* {
  box-sizing: border-box;
}

.fix-float {
  clear: both;
}

.mano-float {
  float: left;
}

/* --------------- */

html {
  background-color: #c9c9c9;
}

body {
  /* automatinis centravimas horizontliai */
  /* 1) Reikia "widht"
     2) Viekia tik i kaire/desine */
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

@font-face {
  font-family: circlen;
  src: url(../font/circlen.ttf),
  url(../font/circlen.woff),
  url(../font/circlen.woff2),
  url(../font/circlen.eot);
}

h1,
h2,
h3 {
  font-family: circlen;
}

h1 {
  color: red;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
}

.menu-juosta {
  background-color: #FF80FF;
  height: 50px;
}

/* -----menu------ */
nav {
  width: 60%;
}

nav ul {
  /* background-color: orange; */
  float: left;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

.nav-ul-1 li {
  float: left;
  width: 25%;
  list-style: none;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

.paieska {
  /* background-color: red; */
  float: left;
  height: 50px;
  width: 40%;
  margin: 0;
  padding: 15px 0 0 0;
  /* padding-top: 15px; */
}

form {
  float: right;
  width: 75%;
}

.paieskos-laukas {
  padding-left: 20px;
  margin-left: 30px;
}

.mygtukas-go {
  border: none;
  padding: 10px 25px 10px 25px
  /* arba */
  padding: 10px 25px;
  background-color: black;
  color: white;
}
/* ------menu pabaiga------ */

/* ---------wraper-------- */
.wrapper {
  min-height: 200px;
  /* height: 400px; */
  margin: 10px 0 0 0;
  padding: 0;
  /* kad pasleptu automatskai apskaiioto aside auksti */
  overflow: hidden;
  /* jei overflow: auto; tuomet aside sone atsiranda sidbar/scroolas */
}

main {
  background-color: #FFFFFF;
  /* height: inherit; */
  width: 79%;
  margin: 0 1% 0 0;
  padding: 0;
}

article p {
  padding: 15px 10px 0 10px;
  margin: 0;
}

.atricle-last {
  margin: 0 0 10px 0;
}

aside {
  background-color: #FF80FF;
  width: 20%;
  /* height: inherit; */
  margin: 0;
  padding: 0;
  /* autmatins aside aukscio uzdejimas */
  /* !teciui wraper uzdedame owerflow:hiden; */
  padding-bottom: 9999px;
  margin-bottom: -9999px;

}

.aside-li li {
  margin: 15px 0 0 0;
  padding: 0;
}

footer {
  background-color: #FFFFFF;
  height: 50px;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0;
}

footer p {
  padding-top: 15px;
  margin: 0 0 0 10px;
}

.h2-wraper, .h2-aside {
  text-align: center;
  padding: 15px 0 0 0;
  margin: 0;
}

h3 {
  padding: 15px 0 0 10px;
  margin: 0;
}
