*{
  box-sizing: border-box;
  }   /*remelius iskaiciuoja i ploty*/

h1{color: indigo;}

div{
  border: solid 1px #333;
  background-color: #a1a1a1;
  height: 100px;


}




.blokas1,
.blokas2,
.blokas4,
.blokas5{
  width: 50%;
  float: left;

}



.fix-float{
  clear: both;
}


                /*---TABLET---*/

  @media (max-width: 768px) {
          .blokas1,
          .blokas2 {
                    width: 100%;

          }

  }

  /*-----Mobile device----*/

  @media (max-width: 425px) {
          .blokas2,
          .blokas3 {
                    display: none; }
          .blokas4,
          .blokas5 {
                    width: 100%;    }

  }
