.text1 {
  color: red;
}
.text2 {
  color: yellow;
}
.text3 {
  color: blue;
}
.text4 {
  color: orange;
}
.text5 {
  color: green;
}
div {
  width: 19%;
  float: left;
  position: relative;
  border: solid 2px #333;
  margin: 2px;
  background-color: #d6d6c2
}
p {
  padding: 2px;
  top: 0;
  right: 0;
  margin: 0;
}
h2 {
  text-align: center;
  padding: 2px;
  top: 0;
  right: 0;
  margin: 0;
}
a {
  /* text-align: center;
  height: auto;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px; */
}

div a {
  text-align: center;
}
