* {
  box-sizing: border-box;
  }


h1 {
  text-align: center;
}

article {
width: 30%;
float: left;
background-color: #a1a1a1;
border: solid 1px #000;
margin-left: 2.5%;
position: relative;
padding-top: 35px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
 /*dedame i viena eilute
 1- reika fix-float
 2- reikia width
 3- nepamirsti nuimti float
    a- susikurti "fix-float" class
    b- html po paskutiniu elementu */
}

.fix-float {
  clear: both;
}

.paskutinis {
  margin-right: 2.5%;
}

h2 {
  border-bottom: solid 1px #000;
  border-left: solid 1px #000;
  margin: 0;
  /* perkeliam elementa i desine ir virsu */
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  text-align: center;
  /*  absoliutus elementai relative zonoje*/
}


.antras h2 {
  background-color: cyan;
}

.pirmas h2 {
  background-color: yellow;
}

.paskutinis h2 {
  background-color: pink;
}

p {
  margin: 0px;
}

body {
  margin: 0
}
