body{
  background-color:#958AFB;
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#958AFB, endColorstr=#B192D3);
background-image:-moz-linear-gradient(left bottom, #958AFB 22%, #B192D3 51%,#F8C0BD 100%);
background-image:linear-gradient(left bottom, #958AFB 22%, #B192D3 51%,#F8C0BD 100%);
background-image:-webkit-linear-gradient(left bottom, #958AFB 22%, #B192D3 51%,#F8C0BD 100%);
background-image:-o-linear-gradient(left bottom, #958AFB 22%, #B192D3 51%,#F8C0BD 100%);
background-image:-ms-linear-gradient(left bottom, #958AFB 22%, #B192D3 51%,#F8C0BD 100%);
background-image:-webkit-gradient(linear, left bottom, right top, color-stop(22%,#958AFB), color-stop(51%,#B192D3),color-stop(100%,#F8C0BD));}

        /*1.=============HEADER================*/
#nav {
  height: 70px;
  background: black;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: all ease .5s;
}

#logo {
    color: #fff;
    padding: 20px;
    font-size: 18px;
    transition: all ease .5s;
  }

#hero {
  height:100px;
  width: 100%;
  background-image:
  background-size: cover;
  background-position: center;
  position: relative;
  }

#nav.shrink {
    height: 40px;
    transition: all ease .5s;
  }

#nav.shrink #logo {
    padding: 10px;
    transition: all ease .5s;
  }

li {
  list-style: none;
  float: right;
  color: #fff;
  padding: 5px;
  font-size: 18px;
  transition: all ease .5s;
}

/* BLOG*/

div.clear {
	clear: both;
}

.bg-color-white {
	background: #fff;
}
.block-padding {
	padding: 10px;
}


/*
  Style for blog row*/
.blog-row {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.blog-row-spacing {
	padding: 25px;
}
.blog-date {
	font-family: 'Dancing Script', cursive;
	font-weight: 700;
	font-size: 1.2em;
}
.blog-title {
	font-family: 'Anton', sans-serif;
	font-size: 2.7em;
	text-transform: uppercase;
}
.blog-image  img{
	max-width: 100%;
	border: 1px solid transparent;
	padding: 10px;
}


/*
  style for blog image
 */
.wtf{
  margin-top: 30px;
}
p{
  text-align: center;
  color: green;
}

.blog-image figure {
	position: relative;
	width: 600px;
	text-align: center;
}

.blog-image figure img {
	width: 100%;
	opacity: 0.8;
	text-align: center;
}

.blog-image figure figcaption {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.blog-image figure figcaption::before,
.blog-image figure figcaption::after {
	pointer-events: none;
}

.blog-image figure figcaption,
.blog-image figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
  EFEKTAI UZVEDUS PELE
 */
.blog-image figure.effect-layla figcaption::before,
.blog-image figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

.blog-image figure.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.blog-image figure.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.blog-image figure.effect-layla h2 {
	padding-top: 26%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.blog-image figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

.blog-image figure.effect-layla img,
.blog-image figure.effect-layla h2 {

}

.blog-image figure.effect-layla img,
.blog-image figure.effect-layla figcaption::before,
.blog-image figure.effect-layla figcaption::after,
.blog-image figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.blog-image figure.effect-layla:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.blog-image figure.effect-layla:hover figcaption::before,
.blog-image figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.blog-image figure.effect-layla:hover h2,
.blog-image figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.blog-image figure.effect-layla:hover figcaption::after,
.blog-image figure.effect-layla:hover h2,
.blog-image figure.effect-layla:hover p,
.blog-image figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
