/*Flawor style*/
body {
	background-color: #7DA0A7;
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration: none;
	color: beige;
}
.box_custom {
	height: auto;
	width: 18%;
	text-align: center;
	margin-left: 1%;
	float: left;
}
.box_custom:hover {
	background-color: #FFDBBD;
	color: #69360C;
}
.paskutinis {
	margin-right: 1%;
}

/*Task - 12 articles with different colors 
and bg-colors */
.box_color {
	background-color: #B1C8CD;
}
.f_color1 {
	color: #20B2AA;
}
.f_color2 {
	color: #90EE90;
}
.f_color3 {
	color: #778899;
}
.f_color4 {
	color: #C71585;
}
.f_color5 {
	color: #A52A2A;
}
.price {
	padding: 20px 10px 20px 10px;
	background: #783031;
}
.price:hover {
	background: #3B604F;
}
.clear_float {
	clear: both;
}